
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog</title>
  </head>
  <body>
    <%- include ('../navbar.ejs') %>

        <% if (article) { %>
          <div class="articles-div">
            <div class="article-content">
              <div class="title-delete">
                <div class="title"><%= article.title %></div>
           
                <form
                  action="/articles/<%= article.id %>?_method=DELETE"
                  method="post"
                >
                  <button class="delete" type="submit">
                    <i class="fa-solid fa-x fa-xl"></i>
                  </button>
                </form>
              </div>
       
              <!-- <div class="description"><%= article.description %></div> -->
              <div class="description"><%= article.markdown %></div>
            
          
              <div class="date">
                Published on <%= article.createdAt.toLocaleDateString() %>
              </div>
              <div class="tags"><%= article.tags %></div>
              Published by <%= authorEmail %>
              
             <!-- Add this condition to show the buttons only if the authenticated user is the author -->
             <% if (authenticatedUser && article.author.equals(authenticatedUser._id)) { %>
              <div class="buttons" style="margin-top: 2vh">
                <a href="/articles/edit/<%= article.id %>">
                  <button class="button-35">Edit</button>
                </a>
                <form action="/articles/<%= article.id %>?_method=DELETE" method="post">
                  <button class="button-35" type="submit">Delete</button>
                </form>
              </div>
            <% } %>
          

            </div>
            <a href="/"> all articles</a>
          </div>
          
        <% } else { %>
          <div>Article not found.</div>
        <% } %>
        </div>
        </div>

    </div>
   
    
  
    
  </body>
</html>
